In [1]:
import pandas as pd
raw = pd.read_csv("../input/train.csv")
raw.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [2]:
raw.columns.values

array(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt',
       'YearRemodAdd', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond',
       'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir',
       'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea',
       'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea',
       'GarageQual', 'GarageCond', 'PavedDrive', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch',
       'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal', 'MoSold',
       'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'], dtype=object)

In [4]:
features = ['MSSubClass', 'LotArea', 'OverallQual', 'OverallCond', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'GrLivArea', 'BedroomAbvGr', 'TotRmsAbvGrd', 'WoodDeckSF', 'YearBuilt', 'YearRemodAdd', 'MoSold', 'YrSold']

In [6]:
data = raw[features]
data.head()

,MSSubClass,LotArea,OverallQual,OverallCond,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,BedroomAbvGr,TotRmsAbvGrd,WoodDeckSF,YearBuilt,YearRemodAdd,MoSold,YrSold
0,60,8450,7,5,856,856,854,1710,3,8,0,2003,2003,2,2008
1,20,9600,6,8,1262,1262,0,1262,3,6,298,1976,1976,5,2007
2,60,11250,7,5,920,920,866,1786,3,6,0,2001,2002,9,2008
3,70,9550,7,5,756,961,756,1717,3,7,0,1915,1970,2,2006
4,60,14260,8,5,1145,1145,1053,2198,4,9,192,2000,2000,12,2008

In [7]:
data.isnull().sum()

MSSubClass      0
LotArea         0
OverallQual     0
OverallCond     0
TotalBsmtSF     0
1stFlrSF        0
2ndFlrSF        0
GrLivArea       0
BedroomAbvGr    0
TotRmsAbvGrd    0
WoodDeckSF      0
YearBuilt       0
YearRemodAdd    0
MoSold          0
YrSold          0
dtype: int64

In [8]:
X = data[features]
X.shape

(1460, 15)

In [9]:
y = raw['SalePrice']
y.shape

(1460,)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1168, 15)
(292, 15)
(1168,)
(292,)

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
lr = RandomForestRegressor(n_estimators=80, max_depth=100, random_state=42)
lr.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=100,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=80, n_jobs=1,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [13]:
print(lr.feature_importances_)

[ 0.00543748  0.0355208   0.57669155  0.00788578  0.05673134  0.04286379
  0.03982629  0.14207614  0.00375581  0.01140869  0.010429    0.03516696
  0.0196107   0.00866158  0.0039341 ]

In [14]:
y_pred = lr.predict(X_test)
y_pred

array([ 142794.375     ,  338508.1375    ,  112127.5       ,
        145849.375     ,  311797.175     ,   82550.625     ,
        212996.2375    ,  147963.125     ,   86804.1625    ,
        149165.        ,  153780.5625    ,  119070.4       ,
         89868.125     ,  221037.1       ,  183690.5       ,
        137340.3125    ,  200035.1875    ,  141126.4       ,
        113215.625     ,  199327.6875    ,  157724.3125    ,
        223513.225     ,  174153.1       ,  127431.0625    ,
        188396.3875    ,  171659.15      ,  194372.9125    ,
        103274.375     ,  183644.2625    ,  194881.6125    ,
        110999.125     ,  240196.2875    ,  202629.        ,
        116943.125     ,  256350.5875    ,  150017.5       ,
        153600.2625    ,  205601.725     ,  312023.1375    ,
         98800.9625    ,  117023.75      ,  237062.1875    ,
        124143.25      ,  376101.675     ,  125833.5375    ,
        159540.        ,  112568.        ,  129282.625     ,
        402316.0125    ,  145571.7       ,  122205.625     ,
        184440.625     ,  132505.1875    ,  374427.175     ,
        142780.33333333,  242083.8625    ,  195693.975     ,
        151864.2125    ,  146051.875     ,  114682.5       ,
         74945.        ,  147507.95      ,  308091.2125    ,
        324098.775     ,  287578.5125    ,  230474.4375    ,
        117695.        ,  314681.9125    ,  134355.125     ,
        166440.5625    ,  125554.85      ,  132852.3375    ,
        114615.625     ,   91170.        ,  472693.9125    ,
        174008.6375    ,  308887.9125    ,  279852.625     ,
        136099.375     ,  119956.25      ,  113668.75      ,
        103339.575     ,  133121.25      ,  105830.5875    ,
        155983.65      ,  140455.7       ,  262871.0625    ,
        189438.625     ,  140306.25416667,  179844.875     ,
        153644.4375    ,  163331.1125    ,  129990.        ,
        254413.2875    ,  149115.25      ,  183846.4125    ,
        176843.675     ,  161261.8125    ,  229283.5625    ,
        233338.25      ,  179723.75      ,  213409.2125    ,
        236947.95      ,  140503.225     ,  178203.15      ,
        153190.        ,  144072.5       ,  259692.2       ,
        133412.5       ,  176878.75      ,   64623.75      ,
        142390.625     ,  137866.1875    ,  136937.225     ,
        222253.55      ,  116155.        ,  115312.        ,
        110608.75      ,  162624.55      ,  258851.0625    ,
        145169.5       ,  139869.275     ,  185738.75      ,
        182798.55      ,  172910.525     ,  130100.1875    ,
        243837.225     ,  107695.        ,  153825.9375    ,
        170796.875     ,  183729.75      ,  348885.3125    ,
        215666.5625    ,  147935.625     ,   75488.75      ,
        322996.85      ,  335679.4125    ,  131827.125     ,
        219358.775     ,  630482.3375    ,  346952.7875    ,
        139778.75      ,  179339.875     ,  154110.625     ,
        138647.1875    ,  104001.15      ,  214892.125     ,
        198110.3125    ,  127392.5       ,   70330.        ,
        104116.875     ,  132687.275     ,  225377.375     ,
        149984.5125    ,  103297.1875    ,  147820.325     ,
        130549.675     ,  154212.5       ,   84841.875     ,
        138417.5       ,  231989.5625    ,  147723.5875    ,
        278000.6       ,  157944.175     ,  117432.5       ,
        135934.375     ,  213938.975     ,  348613.375     ,
        422818.3625    ,  245470.6875    ,  358566.975     ,
        104693.75      ,  129721.85      ,  165344.4625    ,
        365325.0125    ,  143370.        ,  141778.15      ,
        202078.675     ,  125884.175     ,  171090.425     ,
        156073.125     ,  108573.75      ,  135324.875     ,
        146786.1125    ,  261988.125     ,  158725.625     ,
        262658.9375    ,  207255.1375    ,  194072.725     ,
         86301.25      ,  116039.375     ,  115442.5       ,
        120440.        ,  154462.3375    ,  183138.8125    ,
        167189.2125    ,  197511.2625    ,   97502.5       ,
        211707.2125    ,  112523.175     ,  235533.75      ,
        190345.7625    ,  115546.35      ,  339741.5625    ,
        185960.2       ,  125661.375     ,  255072.        ,
        142685.        ,  147625.        ,  115804.35      ,
        219248.        ,  143623.875     ,  123316.25      ,
        163995.9125    ,  187820.7       ,  258601.2875    ,
        183100.45      ,  138646.875     ,  114770.4625    ,
        136961.9875    ,  136746.875     ,  215329.75      ,
        173642.        ,  113401.875     ,  243258.025     ,
        152783.125     ,   95896.25      ,  116305.625     ,
        172248.125     ,  105071.875     ,  104129.375     ,
        182862.925     ,  123327.075     ,  147006.25      ,
        224398.6625    ,  129959.525     ,  192033.8375    ,
        139401.25      ,  223163.5       ,  124428.75      ,
        103713.75      ,  231703.4125    ,  211491.1625    ,
        393588.775     ,  178867.5       ,  115747.075     ,
        159241.25      ,  152484.375     ,  139536.2125    ,
        104344.7875    ,  181945.0875    ,  168261.        ,
        134574.6375    ,   92865.        ,  149299.8375    ,
        142693.5875    ,  117869.675     ,  114117.55      ,
        174968.4875    ,  261079.6625    ,  358071.2375    ,
        161373.725     ,  127415.625     ,  205152.5       ,
        246772.225     ,  218936.5625    ,  170262.0125    ,
        140692.1875    ,  121821.875     ,  168266.        ,
        375987.0375    ,  209916.4       ,  240832.8625    ,
        113857.9125    ,  100844.375     ,  136232.5       ,
        136495.5       ,  348830.175     ,  196765.625     ,
        140478.1875    ,  215205.15      ,  100388.8       ,
        189391.8625    ,  111375.        ,  292992.975     ,
        173463.375     ,  226627.3125    ,  114329.0625    ,
        239071.25      ,  180228.8125    ,  134628.5125    ,  118578.75      ])

In [15]:
from sklearn.metrics import mean_squared_error, r2_score
print(mean_squared_error(y_test, y_pred))
print(r2_score(y_test, y_pred))

803964419.546
0.895185107148

In [17]:
unseen_data = pd.read_csv("../input/test.csv")
unseen_data[features].head()

,MSSubClass,LotArea,OverallQual,OverallCond,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,BedroomAbvGr,TotRmsAbvGrd,WoodDeckSF,YearBuilt,YearRemodAdd,MoSold,YrSold
0,20,11622,5,6,882.0,896,0,896,2,5,140,1961,1961,6,2010
1,20,14267,6,6,1329.0,1329,0,1329,3,6,393,1958,1958,6,2010
2,60,13830,5,5,928.0,928,701,1629,3,6,212,1997,1998,3,2010
3,60,9978,6,6,926.0,926,678,1604,3,7,360,1998,1998,6,2010
4,120,5005,8,5,1280.0,1280,0,1280,2,5,0,1992,1992,1,2010

In [18]:
unseen_data[features].shape

(1459, 15)

In [19]:
unseen_data[features].isnull().sum()

MSSubClass      0
LotArea         0
OverallQual     0
OverallCond     0
TotalBsmtSF     1
1stFlrSF        0
2ndFlrSF        0
GrLivArea       0
BedroomAbvGr    0
TotRmsAbvGrd    0
WoodDeckSF      0
YearBuilt       0
YearRemodAdd    0
MoSold          0
YrSold          0
dtype: int64

In [20]:
unseen_data[['TotalBsmtSF']] = unseen_data[['TotalBsmtSF']].fillna(value=1057)

In [21]:
unseen_data[features].isnull().sum()

MSSubClass      0
LotArea         0
OverallQual     0
OverallCond     0
TotalBsmtSF     0
1stFlrSF        0
2ndFlrSF        0
GrLivArea       0
BedroomAbvGr    0
TotRmsAbvGrd    0
WoodDeckSF      0
YearBuilt       0
YearRemodAdd    0
MoSold          0
YrSold          0
dtype: int64

In [22]:
unseen_data_pred = lr.predict(unseen_data[features])
unseen_data_pred

array([ 127984.375 ,  155179.375 ,  171075.0375, ...,  154579.6875,
        137628.375 ,  230526.9125])

In [23]:
unseen_data_pred.shape

(1459,)

In [25]:
submission = pd.concat([unseen_data[['Id'] + features], pd.Series(unseen_data_pred, name='SalePrice')], axis=1)
submission.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,BedroomAbvGr,TotRmsAbvGrd,WoodDeckSF,YearBuilt,YearRemodAdd,MoSold,YrSold,SalePrice
0,1461,20,11622,5,6,882.0,896,0,896,2,5,140,1961,1961,6,2010,127984.3750
1,1462,20,14267,6,6,1329.0,1329,0,1329,3,6,393,1958,1958,6,2010,155179.3750
2,1463,60,13830,5,5,928.0,928,701,1629,3,6,212,1997,1998,3,2010,171075.0375
3,1464,60,9978,6,6,926.0,926,678,1604,3,7,360,1998,1998,6,2010,188590.0000
4,1465,120,5005,8,5,1280.0,1280,0,1280,2,5,0,1992,1992,1,2010,209446.1625

In [26]:
submission.shape

(1459, 17)

In [27]:
result = submission[['Id', 'SalePrice']]
result.shape

(1459, 2)

In [30]:
result.head()

     Id    SalePrice
0  1461  127984.3750
1  1462  155179.3750
2  1463  171075.0375
3  1464  188590.0000
4  1465  209446.1625

In [31]:
result.to_csv('result.csv', index=False)